#resim {
  width: 350px;
  height: 550px;
  max-width: 925px;
  float: left;
  margin: 12px;
}

/*        iPad Pro          */
@media only screen and (min-width : 1024px) and (max-width : 1030px) {
  #resim {
    margin-left: 100px;
  }
}

/*         Surface Pro 7       */
@media only screen and (min-width : 912px) and (max-width : 915px) {
  #resim {
    margin-left: 65px;
  }
}

/*         Surface Duo          */
@media only screen and (min-width : 540px) and (max-width : 545px) {
  #resim {
    margin-left: 95px;
  }
}

/*          iPad Air             */
@media only screen and (min-width : 820px) and (max-width : 825px) {
  #resim {
    margin-left: 30px;
  }
}

/*          iPhone XR  , Samsung Galaxy S20 Ultra          */
@media only screen and (min-width : 412px) and (max-width : 420px) {
  #resim {
    margin-left: 30px;
  }
}